.d3-chart-bubble-matrix
    .thread
        shape-rendering: crispEdges
    .row-header text
        text-anchor: end
        dominant-baseline: middle
    .col-header text
        text-anchor: middle
//        dominant-baseline: middle
